/*taps.css*/

.container{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	
	width: 100%;
	max-width: 400px;
}


/* layout */

.tabs-content-container{
	width: 100%;
	clear: both;
	float: left;
	position: relative;
}

.tab-content{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
	opacity:0;
	-webkit-transition: opacity 0.4s ease-in-out;
	   -moz-transition: opacity 0.4s ease-in-out;
	    -ms-transition: opacity 0.4s ease-in-out;
	     -o-transition: opacity 0.4s ease-in-out;
	        transition: opacity 0.4s ease-in-out;
}

.tab-1:checked ~ .tabs-content-container .tab-content-1{
	opacity: 1;
}
.tab-2:checked ~ .tabs-content-container .tab-content-2{
	opacity: 1;
}